$primary-color: #3b3092;
$white: #ffffff;
$white-2: #fbfbff;
$white-3: #f3f1ff;
$white-4: #f2f2fa;
$black: #000000;
$black-1: #0c0a1d;
$blue: #2f2675;
$blue-1: #00276614;
$grey: #4a4950;
$grey-2: #7b7986;
$grey-3: #6e707e;
$grey-4: #B0AFB6;
$grey-5: #8E8E93;
$light-grey: rgba(0, 39, 102, 0.08);
$light-grey-2: #e5e4e7;
$orange: #fcaf17;
$orange-2: #fdbf45;
$error: #f20000;
